<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Stroller</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="ios-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content text-center [hidden]="isCapturing || isShowingImage">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-list no-lines class="bold">
          <span>Status: </span>
          <span *ngIf="statusInfo" [style.color]="statusInfo.color">{{statusInfo.title}}</span>
        </ion-list>
        <div>
          <button ion-button color="default" outline full round large (click)="takePhoto()">Zrób zdjęcie 360</button>
        </div>
        <!--<div>-->
          <!--<button ion-button color="default" full round large (click)="showImage()">Pokaż ostatnie zdjęcie</button>-->
        <!--</div>-->
        <div>
          <button ion-button color="default" outline full round large (click)="showImages()">Pokaż zdjęcia</button>
        </div>
        <div>
          <button ion-button color="danger" outline full round large (click)="forceReleaseStroller()"
                  *ngIf="statusData && statusData.status === 'busy'">
            Zwolnij urządzenie
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-content text-center [hidden]="!isCapturing">
  <div class="outer">
    <div class="middle">
      <div class="inner" [style.width]="'99%'">
        <div class="progress-bar">
          <div class="container">
            <div class="wrapper">
              <div class="fill-bar" [style.width]="capProgressText"></div>
            </div>
            <div class="text-value"><span style="width: 100%">{{capProgressText}}</span></div>
          </div>
        </div>
        <button ion-button color="default" round large (click)="cancelCapturing()">Anuluj</button>
      </div>
    </div>
  </div>
</ion-content>
