<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Stroller</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="ios-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="vertical-align-content" text-center [hidden]="isCapturing || isShowingImage">

  <ion-grid>
    <ion-row>
      <ion-col col-md-6 *ngIf="statusData && statusData.status !== 'busy'">
        <button ion-button class="vertical-icon-button full-width" large outline
                (click)="takePhoto()" [disabled]="!statusData || statusData.status !=='ready'">
          <div>
            <ion-icon name="aperture" style="font-size: 80px"></ion-icon>
            <label style="display: block;">CAPTURE 360</label>
          </div>
        </button>
      </ion-col>
      <ion-col col-md-6 *ngIf="statusData && statusData.status === 'busy'">
        <button ion-button class="vertical-icon-button full-width" large outline color="danger"
                (click)="forceReleaseStroller()">
          <div>
            <ion-icon name="hand" style="font-size: 80px"></ion-icon>
            <label style="display: block;">RELEASE DEVICE</label>
          </div>
        </button>
      </ion-col>
      <ion-col ngClass="{'col-md-6': statusData && statusData.status, 'col-md-12': !statusData || !statusData.status}">
        <button ion-button class="vertical-icon-button full-width" large outline
                (click)="showImages()" [disabled]="!statusData || !statusData.status || statusData.status === ''">
          <div>
            <ion-icon name="photos" style="font-size: 80px"></ion-icon>
            <label style="display: block;">BROWSE IMAGES</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="vertical-align-content" text-center [hidden]="!isCapturing">

  <ion-grid>
    <ion-row col-md-12 align-items-center>
      <ion-navbar margin class="navbar-white-background">
        <ion-title class="title-light">360 image acquisition pending</ion-title>
      </ion-navbar>
    </ion-row>
    <ion-row>
      <ion-col col-md-12>
        <div class="progress-bar">
          <div class="container">
            <div class="wrapper">
              <div class="fill-bar" [style.width]="capProgressText"></div>
            </div>
            <div class="text-value"><span style="width: 100%">{{capProgressText}}</span></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button outline icon-left round large (click)="cancelCapturing()">
          <ion-icon name="remove-circle-outline"></ion-icon>
          Cancel
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-navbar text-center>
    <span [style.color]="statusInfo.color">{{statusInfo.title}}</span>
  </ion-navbar>
</ion-footer>
