page-home {
  .ion-row-large{
    height: 80px;
  }

  .jumbo-button {
    width: 50%;
    height: 80px;
  }

  .bold {
    font-weight: bold;
  }

  .progress-bar {
    .container{
      width: 100%;
      height: 50px;
    }

    .wrapper {
      width: 60%;
      border: 3px solid #488aff;
      border-radius: 16px;
      height: 30px;
      margin: 0 auto;
      padding: 3px;
    }

    .fill-bar {
      width: 0;
      background: #488aff;
      border-radius: 10px;
      height: 100%
    }

    .text-value {
      width: 60%;
      margin: 0 auto;
      text-align: right;
    }
  }

  ion-footer.status-footer > * > .toolbar-background  {
    border: 0;
    background: #f53d3d;
  }

  ion-footer.status-footer > * > .toolbar-content > * {
    color: #eee;
  }

  ion-navbar.navbar-white-background .toolbar-background{
    background: white !important;
  }
}
